/* Style for the Last Updated Posts Widget */
ul.psf-last-updated-posts {
    list-style: none;
    padding: 0;
}

ul.psf-last-updated-posts li {
    margin-bottom: 10px;
}

ul.psf-last-updated-posts li a {
    display: block;
    padding: 5px 10px;
    border: 1px solid var(--tl-main);
    background-color: #f5f5f5;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

ul.psf-last-updated-posts li a:hover {
    background-color: #e5e5e5;
}

/* Style for the PSF Trending Posts */
/* Style for the PSF Trending Posts */
ul.psf-trending-posts {
    list-style: none;
    padding: 0;
}

ul.psf-trending-posts li {
    margin-bottom: 10px;
}

ul.psf-trending-posts li a {
    display: block;
    padding: 5px 10px;
    border: 1px solid var(--tl-main); /* Border color from your blog's main color */
    background-color: #F7F7F8; /* Background color for each heading */
    text-decoration: none;
    color: #000; /* Black font color */
    transition: background-color 0.2s ease;
}

ul.psf-trending-posts li a:hover {
    background-color: #e5e5e5;
}

/* GIFs CSS */
/* Custom CSS for the GIF */
.psf-last-updated-posts li {
    position: relative;
}

.psf-new-gif {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px; /* Set the GIF width to 24px */
    height: auto; /* Maintain aspect ratio */
}



/* Custom styling for the trending posts list */
.psf-trending-posts {
    list-style: none;
    padding: 0;
}

/* Styling for the trending posts links */
.psf-trending-posts li a {
    color: #0073aa; /* Use your preferred link color */
    text-decoration: none;
}

.psf-trending-posts li a:hover {
    text-decoration: underline;
}

/* Styling for the blinking GIF */
.psf-blinking-gif {
    width: 25px;
    height: 25px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
